.about {
  padding-top: 4.5rem;
  padding-bottom: 4rem;
  background-image: url("../../../public/images/image-3.jpg");
}

.aboutUs {
  background-color: #fff;
  margin: 2.5rem;
  border-radius: 1.4rem;
  padding: 1.5rem 2rem 2rem 2rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 1.96px 0.88px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 1.96px 0.88px;
}

.aboutUs > h2 {
  margin-bottom: 1.7rem;
}

.aboutUs > h2 span {
  border-bottom: 4px solid #2fa4ff;
  border-radius: 0.2rem;
  padding-bottom: 0.2rem;
}

.aboutUs > p {
  font-size: 1.3rem;
  margin-left: 3.8rem;
  margin-top: 2rem;
}

.aboutUs > p > a {
  color: #2fa4ff;
  text-decoration: none;
  text-transform: uppercase;
}

.director-desk {
  margin: 4rem 4.4rem;
}

.director-desk h2 span {
  border-bottom: 4px solid #2fa4ff;
  border-radius: 0.2rem;
  padding-bottom: 0.4rem;
}

.director-desk .director-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.2rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.director-desk .director-image {
  position: relative;
  margin: 0rem 6rem 0 2rem;
  height: 13rem;
  width: 12rem;
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid #d3d4db;
  border-radius: 2rem;
  -webkit-box-shadow: rgba(175, 174, 174, 0.3) 0px 19px 38px, rgba(165, 161, 161, 0.22) 0px 15px 12px;
          box-shadow: rgba(175, 174, 174, 0.3) 0px 19px 38px, rgba(165, 161, 161, 0.22) 0px 15px 12px;
}

.director-desk .director-image > img {
  border-radius: 2rem;
}

.director-desk .director-message {
  background-color: #606bcebb;
  color: #fff;
  margin-top: 1rem;
  max-height: 400px;
  margin-right: 3rem;
  font-size: 1.3rem;
  overflow-y: scroll;
  border: 1px solid #e9e7e7;
  border-radius: 2rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 1rem;
  -webkit-box-shadow: 0 0 0.4rem 0rem #929191;
          box-shadow: 0 0 0.4rem 0rem #929191;
}

.director-desk .director-message::-webkit-scrollbar {
  width: 5px;
  height: 30px;
  border-radius: 1rem;
}

.director-desk .director-message::-webkit-scrollbar-thumb {
  background: #0680d1;
  border-radius: 1rem;
}

.director-desk .director-message::-webkit-scrollbar-thumb:hover {
  background: #0920e7;
}

.director-desk .director-message::-webkit-scrollbar-track {
  background: #aaa7a7;
  border-radius: 1rem;
}

.director-desk .director-message {
  scrollbar-face-color: #0680d1;
  scrollbar-track-color: #aaa7a7;
}

.director-desk .quote::before {
  content: open-quote;
  margin-right: 0.5rem;
  display: inline;
  height: 0;
  line-height: 0;
  position: relative;
  left: 0.1rem;
  top: 0.8rem;
  color: #ccc;
  font-size: 3.3rem;
}

.director-desk .quote::after {
  content: close-quote;
  margin-left: 0.5rem;
  display: inline;
  height: 0;
  line-height: 0;
  position: relative;
  left: 0.1rem;
  top: 0.8rem;
  color: #ccc;
  font-size: 3.3rem;
}

.director-desk .director-name {
  color: #e6e3e3;
  text-align: end;
  font-weight: bold;
}

/*--TPO--*/
.tpo-desk {
  margin: 7rem 4.4rem 0 4.4rem;
}

.tpo-desk h2 {
  text-align: right;
  margin-bottom: 2rem;
}

.tpo-desk h2 span {
  border-bottom: 4px solid #2fa4ff;
  border-radius: 0.2rem;
  padding-bottom: 0.4rem;
}

.tpo-desk .tpo-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-top: 1.2rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tpo-desk .tpo-image {
  z-index: 10;
  margin: 0rem 6rem 0 2rem;
  position: relative;
  height: 13rem;
  width: 12rem;
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid #d3d4db;
  border-radius: 2rem;
  -webkit-box-shadow: rgba(175, 174, 174, 0.3) 0px 19px 38px, rgba(165, 161, 161, 0.22) 0px 15px 12px;
          box-shadow: rgba(175, 174, 174, 0.3) 0px 19px 38px, rgba(165, 161, 161, 0.22) 0px 15px 12px;
}

.tpo-desk .tpo-image > img {
  border-radius: 2rem;
  width: 12rem;
  height: 13rem;
}

.tpo-desk .tpo-message {
  background-color: #606bcebb;
  color: #fff;
  margin-top: 1rem;
  max-height: 400px;
  margin-right: 3rem;
  font-size: 1.3rem;
  overflow-y: scroll;
  border: 1px solid #e9e7e7;
  border-radius: 2rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 1rem;
  -webkit-box-shadow: 0 0 0.4rem 0rem #929191;
          box-shadow: 0 0 0.4rem 0rem #929191;
}

.tpo-desk .tpo-message::-webkit-scrollbar {
  width: 5px;
  height: 30px;
  border-radius: 1rem;
}

.tpo-desk .tpo-message::-webkit-scrollbar-thumb {
  background: #0680d1;
  border-radius: 1rem;
}

.tpo-desk .tpo-message::-webkit-scrollbar-thumb:hover {
  background: #0920e7;
}

.tpo-desk .tpo-message::-webkit-scrollbar-track {
  background: #aaa7a7;
  border-radius: 1rem;
}

.tpo-desk .tpo-message {
  scrollbar-face-color: #0680d1;
  scrollbar-track-color: #aaa7a7;
}

.tpo-desk .quote::before {
  content: open-quote;
  margin-right: 0.5rem;
  display: inline;
  height: 0;
  line-height: 0;
  position: relative;
  left: 0.1rem;
  top: 0.8rem;
  color: #ccc;
  font-size: 3.3rem;
}

.tpo-desk .quote::after {
  content: close-quote;
  margin-left: 0.5rem;
  display: inline;
  height: 0;
  line-height: 0;
  position: relative;
  left: 0.1rem;
  top: 0.8rem;
  color: #ccc;
  font-size: 3.3rem;
}

.tpo-desk .tpo-name {
  color: #e0dddd;
  text-align: end;
  font-weight: bold;
}

@media only screen and (max-width: 700px) {
  .about {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .about .aboutUs {
    margin: 1rem 1.3rem 0rem 0.8rem;
    padding: 1.5rem 0.5rem 0.5rem 1rem;
  }
  .about .aboutUs > h2 {
    margin-bottom: 1rem;
    font-size: 1.3rem;
  }
  .about .aboutUs > p {
    font-size: 1rem;
    margin-left: 0rem;
    padding-right: 0.6rem;
    margin-top: 1.5rem;
    text-align: justify;
  }
  .about .aboutUs > p > a {
    color: #2fa4ff;
    text-decoration: none;
    text-transform: uppercase;
  }
  .director-desk {
    margin: 2rem 1rem;
  }
  .director-desk h2 {
    font-size: 1.3rem;
  }
  .director-desk .director-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .director-desk .director-image {
    margin: 0;
  }
  .director-desk .director-message {
    margin-top: 2rem;
    height: 300px;
    width: 100%;
    margin-right: 0;
    font-size: 1rem;
    text-align: justify;
    padding: 1rem 1rem 0 1rem;
  }
  .director-desk .quote::before,
  .director-desk .quote::after {
    font-size: 2.6rem;
  }
  .tpo-desk {
    margin: 3rem 1rem 2rem 1rem;
  }
  .tpo-desk h2 {
    font-size: 1.3rem;
  }
  .tpo-desk .tpo-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tpo-desk .tpo-image {
    margin: 0;
  }
  .tpo-desk .tpo-message {
    margin-top: 2rem;
    height: 300px;
    width: 100%;
    margin-right: 0;
    font-size: 1rem;
    text-align: justify;
    padding: 1rem 1rem 0 1rem;
  }
  .tpo-desk .quote::before,
  .tpo-desk .quote::after {
    font-size: 2.6rem;
  }
}
/*# sourceMappingURL=About.css.map */