.carousel-item > img {
  width: 100%;
  height: 100vh;
}

.home-content-container {
  min-width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 4;
}

.home-content {
  font-family: "montserrat-bold", serif;
  text-align: center;
  color: #f5f7fa;
  position: absolute;
  padding: 2rem;
  background-color: rgba(249, 250, 250, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-content h1, .home-content h2 {
  font-size: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: bolder;
  margin-top: 0.2rem;
}

.home-content h2 {
  font-size: 2.6rem;
}

.home-cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  background-color: rgba(5, 19, 103, 0.5);
}

/* CSS for learn more button */
.bg,
.button {
  position: absolute;
  top: 28.5%;
  left: 93.5%;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
}

.bg {
  -webkit-animation: pulse 1.2s ease infinite;
          animation: pulse 1.2s ease infinite;
  background: #fdfcfc;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 99;
  border: none;
  background: #fdfcfc;
  background-size: 18px;
  cursor: pointer;
  outline: none;
}

.button a {
  position: absolute;
  color: #000;
  font-size: 17px;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

/* unable for 992px and down */
@media only screen and (max-width: 992px) {
  .bg, .button {
    display: none;
  }
}

/* Extra large devices (large laptops and desktops, 1250px and up) */
@media only screen and (min-width: 1250px) {
  .bg, .button {
    top: 29.5%;
    left: 94%;
  }
}
/*# sourceMappingURL=Home.css.map */