.custom-navbar{
    background-color: rgba(148, 150, 150, 0.2)!important;
}

.navbar-brand{
    content: "";
}

.ms-2 {
    margin-left: 1.7rem!important;
}

.nav-item{
    border-bottom: 2px solid rgba(0,0,0,0);
    transition: all 0.1s;
    transition-timing-function: ease;
}
.nav-link:hover{
        color: #fff;
        border-bottom: 2px solid #fff;
}
.active{
    border-bottom: 2px solid #fff;
}